*.netrwhist
*.zcompdump
*.histfile
*.log

# Use a whitelist for the emacs folder
emacs/dot-config/emacs/*
#!config/emacs/*/

!emacs/dot-config/emacs/init.el
!emacs/dot-config/emacs/configs
!emacs/dot-config/emacs/configs/*
!emacs/dot-config/emacs/auto-save/.gitkeep

# Use a whitelist for the emacs-tiny folder
emacs-tiny/dot-config/emacs/*
#!config/emacs/*/

!emacs-tiny/dot-config/emacs/init.el
!emacs-tiny/dot-config/emacs/configs
!emacs-tiny/dot-config/emacs/configs/*
!emacs-tiny/dot-config/emacs/auto-save/.gitkeep
