*.netrwhist
*.zcompdump
*.histfile
*.log

vim/dot-config/vim/pack

# Usa a whitelist for the emacs folder
emacs/dot-config/emacs/*
#!config/emacs/*/

!emacs/dot-config/emacs/init.el
!emacs/dot-config/emacs/configs
!emacs/dot-config/emacs/configs/*
!emacs/dot-config/emacs/auto-save/.gitkeep
